<div id="content">
  <mat-card> 
      <div class="mars"></div>
      <img src="https://mars-404.templateku.co/img/404.svg" class="logo-404" />
      <img src="https://mars-404.templateku.co/img/meteor.svg" class="meteor" />
      <p class="title">Oh meu deus!!</p>
      <p class="subtitle">
        Onde estou?? <br />
      </p>
      <div align="center">
        <a class="btn-back" routerLink="/home">voltar para o inico</a>
      </div>
      <img src="https://mars-404.templateku.co/img/astronaut.svg" class="astronaut" />
      <img src="https://mars-404.templateku.co/img/spaceship.svg" class="spaceship" />
    
  </mat-card>
</div>
